@model ArticleListViewModel
<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/about-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewBag.TitleNav</h1>
                    <span class="subheading">@ViewBag.SubTitleNav</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>My name is <strong>Davide Dolce</strong>, I am an <a href="https://github.com/Cramenorn">open source contributor</a> specialized in web and cloud technologies. I used different programming languages in my career like Java, C#, C/C++ and Javascript which are the languages I studied more at school and at work.</p>
            <p>I got a Diploma in Computer Science from <a href="http://iispeano.gov.it/">Giuseppe Peano</a> (Italy) high school.</p>
            <p>Actually I am about to finish the <a href="http://www.its-ictpiemonte.it/">ITS ICT Piemonte</a> (Italy) post graduate high school course, I will get a Diploma of level five.</p>
            <p>I participated to a project at school, the main task was to create an app for IOS and Android for lawyers and customers, my team got the fifth place, I was responsible for the BackEnd development which consisted to create Apis for the FrontEnd developers. I created two videogames, they are based on the fighting game style, <strong>Supreme Word Of Fighters</strong> has reached 2k of downloads. You can find more info in the <a href="~/projects">projects</a> section.</p>
        </div>
    </div>
</div>