<header class="masthead" style="background-image: url('/img/privacy-policy-bg.png')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">

                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h1>Privacy Policy</h1>
            <hr class="small">
            <p>This website doesn’t collect personal information. All texts and images published in this website (where not otherwise specified) are Davide Dolce’s intellectual and industrial propriety.</p>
            <h2>Cookies policy</h2>
            <p>This website stores technical cookies. These cookies are necessary to provide the requested service. For instance, technical cookies allow you to proceed through different pages of a website with a single login and they remember selections in forms that are filled out on the website.</p>
            <p>Besides technical cookies, this website stores cookies that are only stored on your Terminal Equipment temporarily. These cookies are automatically erased when you close your browser. These so called session cookies are used to map your online behaviour during a visit to the website. This website can use this information to adjust its website to the needs of its users.</p>
            <h2>Copyright</h2>
            <p>The contents of this web site are licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
        </div>
    </div>
</div>