<header class="masthead" style="background-image: url('/img/projects-bg.jpeg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>@ViewBag.TitleNav</h1>
                    <span class="subheading">@ViewBag.SubTitleNav</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class= "col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <a href="/pdf/LawCloudPresentation.pdf" target="_blank"><img src="/img/law-cloud.png" class="mobile-app" alt="Law Cloud"></a>
                </div>
                <div class="col-md-7 col-sm-7">
                    <br />
                    <h3>Law Cloud</h3>
                    <p><i>Diego Robaldo, Andrea Tallone, Davide Dolce, Simone Filippo Antonicchio, Mariangela Pastore, Pietro Giovanetti, Simone Russo, Francesco Suriano</i></p>
                    <p>A project made in team with other school mates, LawCloud is an app mainly designed for lawyers, they can chat with their customers, create events, create folders to upload documents, create a cause and more.</p>
                    <p>
                        View our presentation <a href="/pdf/LawCloudPresentation.pdf" target="_blank">here</a>
                    </p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>